<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <listener>
    <listener-class>
 		com.buybig.listeners.SessionCounter
 	 </listener-class>
  </listener>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>application/javascript</mime-type>
  </mime-mapping>
  <display-name>112_BuyBig</display-name>
  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>com.buybig.servlets.Shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Catalogue</servlet-name>
    <servlet-class>com.buybig.servlets.Catalogue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogue</servlet-name>
    <url-pattern>/Catalogue</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>